@import "header"; 
@import "formulario";

body {
    background-color: rgb(238, 238, 236);
}

.logo {
    width: 160px;
    cursor: pointer;

}


iframe{
    display: block;
    margin: auto;
    width: 85%;  
    overflow-x: hidden;
    
}

